Project:
=========
DeadLine: 10 March 2017
Groups: 4
- Implement Service over CRrUD operations for TWO tables from Database (Use Entity Framework)
	=>Done A- Endpoints:
		i  - TCP 
		ii - IPC
		iii- wsHttp
		iv - REST	
	=>Done B- Hosting on IIS

- Clients
	=>Done A- .NET Client (Web Application)
	=>Done B- JS Client + (Display Capital of any Country) + CSS