<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProj" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="/Proj.svc/Proj" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProj" contract="Project_Server.IProj"
        name="BasicHttpBinding_IProj" />
    </client>
  </system.serviceModel>
</configuration>