<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="meta" name="Project_Server.ProjService">
        <endpoint address="Proj" binding="basicHttpBinding" contract="Project_Server.IProj"/>
        <endpoint address="Proj" binding="netTcpBinding" contract="Project_Server.IProj"/>
        <endpoint address="Proj" binding="netNamedPipeBinding" contract="Project_Server.IProj"/>
        <endpoint address="Proj/REST" binding="webHttpBinding" contract="Project_Server.IProj" behaviorConfiguration="REST"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetUrl="WSDL" httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="Proj.svc" service="Project_Server.ProjService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>
