body {
    text-align: center;
    background: #eee url(http://i.imgur.com/eeQeRmk.png);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
    border-collapse: separate !important;
    border-spacing: 2px;
    border-color: grey;
    margin: auto;
}

thead {
    cursor: pointer;
    background: #c9dff0;
}

    thead th {
        padding: 12px 0;
    }

tbody td {
    height: 30px;
    min-width: 120px;
    background: transparent;
    text-align: center;
    font-size: 12px;
    color: darkslateblue;
    font-weight: bold;
}

tbody tr:hover td {
    background: cadetblue;
}

tbody .new:hover td {
    background: transparent;
}

input[type=text], select {
    height: 30px;
    width: 120px;
    background: transparent;
    text-align: center;
    border: 0;
    font-size: 12px;
    color: darkslateblue;
    font-weight: bold;
}

.new {
    background: lightgrey;
    color: black;
}

input[type="button"], input[type="submit"], button {
    height: 30px;
    width: 75px;
    background: #585858;
    color: white;
    font-weight: bold;
}